<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <h3>Welcome, {{ student['Name'] }}</h3>
            <ul>
                <li><a href="https://formbuilder.ccavenue.com/live/kotak-mahindra/kmct-group-of-institutions-2/kmct-college-of-engineering-2", target="_blank">Fee Payment</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout">Logout</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="card">
                <h2>Student Details</h2>
                <div class="student-details">
                    <p><strong>Name:</strong> {{ student['Name'] }}</p>
                    <p><strong>Admission Number:</strong> {{ student['AdmnNo'] }}</p>
                    <p><strong>Admission Year:</strong> {{ student['AdmYear'] }}</p>
                    <p><strong>Branch:</strong> {{ student['Branch'] }}</p>
                    <p><strong>Semester:</strong> {{ student['Sem'] }}</p>
                    <p><strong>Phone:</strong> {{ student['Phone'] }}</p>
                    <p><strong>Email:</strong> {{ student['Email'] }}</p>
                    <p><strong>Hostel:</strong> {{ 'Yes' if student['Hostel'] else 'No' }}</p>
                </div>
            </div>
            
            <div class="side-section">
                <div class="notifications">
                    <h2>Notifications</h2>
                    <ul>
                        {% for notification in notifications %}
                            <li>{{ notification }}</li>
                        {% else %}
                            <li>No new notifications</li>
                        {% endfor %}
                    </ul>
                </div>
                <br> 
                <div class="registration">
                    <h2>S6 Registration is Open</h2>
                    <button class="regbtn">Register</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>