<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        
        <!-- Login form -->
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-group">
                <label for="AdmnNo">Admission Number:</label>
                <input type="text" id="AdmnNo" name="AdmnNo" required>
            </div>
            <div class="input-group">
                <label for="AdmYear">Admission Year:</label>
                <input type="text" id="AdmYear" name="AdmYear" required>
            </div>
            <button type="submit" class="btn">Login</button> <br><br>
            <a href="{{ url_for('admin_login') }}">Admin login</a>
        </form>
    </div>
</body>
</html>
